<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/instructorCourseList.css">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Instructor Course List</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
        <h1>Instructor Course List</h1>
        <a href="/instructors/add" class="add-btn">Add New Course</a>
        <table>
            <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Instructor</th>
                        <th>Action</th>
                    </tr>            
            </thead>
            <tbody>
                <% data.forEach(el => { %>
                    <tr>
                        <td><%= el.name %> </td>
                        <td><%= el.duration %> </td>
                        <% if (el.Instructor !== null) { %>
                            <td><%= el.Instructor.fullName %> </td>
                        <% } else {%>
                            <td>No Instructor</td>
                        <% } %>
                        <td><a href="/instructors/<%= el.id %>/edit">Edit Course</a> | <a href="/instructors/<%= el.id %>/delete">Delete Course</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>